version: '3'

services:
  app:
    build: .
    environment:
      - NODE_ENV=development
    volumes:
      - type: bind
        source: ./project
        target: /usr/src/app
    ports:
      - '3000:3000'
    tty: true
